.dialog {
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.dialogTitle {
    -fx-font-family: Roboto;
    -fx-font-size: 48;
}

.dialogContent {
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 36;
    -fx-fill: #555555;
}

.dialog .button {
    -fx-text-fill: #26418f;
}

.errorBox {
    -fx-background-color: #e53935;
    -fx-fill: #e53935;
}

.warningBox {
    -fx-background-color: #f57c00;
    -fx-fill: #f57c00;
}

.error {
    -fx-fill: #e53935;
    -fx-font-family: "Roboto Condensed";
    -fx-font-size: 30;
}

.deviceCountError {
    -fx-fill: #e53935;
}
